@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/animate';

@import 'base/variables';

.container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
} 

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/social';
@import 'blocks/block-with-tabs';
@import 'blocks/sub-list';
@import 'blocks/standart';
@import 'blocks/awesome';
@import 'blocks/pricing';

@import 'base/main-classes';