.sub-list {
    min-height: 596px;
    background-color: #ffffff;
    img {
        position: absolute;
        margin-top: 4px;
    }
    &__title {
        margin-top: 107px;
        margin-left: 670px;
        color: #212121;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        line-height: 43px;
    }
    .line {
        margin-top: 29px;
        margin-left: 670px;
    }
    &__subtitle {
        margin-top: 30px;
        margin-left: 670px;
        text-align: justify;
        color: #86878b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    &__icon-with-text-wrapper {
        display: flex;
        justify-content: space-between;
        width: 420px;
        margin-top: 46px;
        margin-left: 670px;
    }
    &__round {
        width: 46px;
        height: 44px;
        border: 2px solid $main-color;
        border-radius: 50%;
        position: relative;
    }
    &__icon {
        width: 40px;
        height: 23px;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-71%);
    }
    &__text {
        width: 360px;
        color: #212121;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-align: justify;
        margin-left: 31px;

        span {
            color: #86878b;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}